* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0 20px 0 20px;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header {
  background-color: #1f2937;
}

ul,
li {
  list-style: none;
  display: inline;
  padding-right: 15px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
.p-1 {
  margin-top: 5px;
  color: #e5e7eb;
  font-size: 18px;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
  text-decoration: none;
}
.heading {
  color: #f9faf8;
  font-size: 48px;
  line-height: 1em;
  margin-bottom: 5px;
}
img {
  width: 500px;
  height: 250px;
  margin-left: 120px;
}
.hero {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.para {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
button {
  width: 120px;
  height: 35px;
  border: 3px solid #3882f6;
  border-radius: 8px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 80px;
}
.section-1 {
  background-color: #f9faf8;
  height: 500px;
  border: 1px solid #f9faf8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h2 {
  color: #1f2937;
  font-size: 36px;
  text-align: center;
  padding-top: 5px;
}
.empty-div {
  border: 4px solid #3882f6;
  width: 170px;
  height: 180px;
  border-radius: 10px;
}

.container-1 {
  width: 60%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}
.para-1 {
  width: 170px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.para-1,
p {
  color: #1f2937;
  font-size: 18px;
}

/* Second section */

.section-2 {
  background-color: #e5e7eb;
  border: 1px solid #e5e7eb;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote {
  color: #1f2937;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}
h3 {
  font-size: 36px;
  color: #1f2937;
}
.heading-3 {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.quotation {
  height: 250px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

/* third section */
.section-3 {
  background-color: #f9faf8;
  height: 350px;
  border: 1px solid #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action {
  background-color: #3882f6;
  width: 65%;
  border-radius: 10px;
  height: 210px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 90px;
  line-height: 0.1em;
}
.button-2 {
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.last-para {
  font-size: 22px;
  padding-bottom: 20px;
}
.heading-4 {
  padding-top: 10px;
}

.heading-4,
.last-para {
  color: #f9faf8;
}
.btn {
  background-color: #3882f6;
  color: #f9faf8;
  border: 3px solid #f9faf8;
}

footer {
  height: 100px;
  background-color: #1f2937;
  border: 1px solid #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-text {
  color: #f9faf8;
  font-size: 22px;
}
